@font-face {
	font-family: Rubik-Light; 
	src:url(Rubik-Light.ttf);
}

@font-face {
	font-family: Rubik-Regular; 
	src:url(Rubik-Regular.ttf);
}

@font-face {
	font-family: Rubik-Black; 
	src:url(Rubik-Black.ttf);
}

@font-face {
	font-family: Rubik-Medium; 
	src:url(Rubik-Medium.ttf);
}

html,
body {
    height: 100%;
	font-family: Rubik-Light;
}

h1 { font-family: Rubik-Medium; }

.wrap {
    overflow: hidden;
}

.sidebar {
	background: #fff;
}

.header-fix{
	margin-left: 175px;
}

#secondary{
	box-shadow: 2px -9px 20px rgba(0, 0, 0, 0.08);
	z-index: 1001;
	margin-top: 60px;
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
	width: 175px;
	height: 100%;
	padding-top: 37px;
}

.wrap > .container {
    padding-top: 70px;
	padding-left: 0px;
	margin-left: 190px!important;
    margin-right: 30px !important;
}

.nav-pills > li > a {
    border-radius: 0px !important;
}

.nav-pills > li > a:hover {
    background: #7e949a !important;
}

.main_li {
}

.nav-stacked > li + li {
    margin-top: 0px !important; 
}

.footer {
    background-color: white;
    box-shadow: -1px 0px 20px rgba(0, 0, 0, 0.08);
    padding-top: 20px;
	position: absolute;
    width: 100%;
	z-index: 10005;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.inf {
	border: none !important;
	padding: 3px;
	text-align: left;
    padding-left: 1% !important;
    padding-right: 3% !important;
}
.dop { 
	font-size: 21px !important;
    margin-top: 30px !important;
    margin-left: 10px;
}
.isp_progr {
	width:150px;
	margin-left:10px;
	margin-right:20px;
	margin-top: 10px;
}

a, a:hover, a:focus, a:active{
    outline:none;
    color:black;
    text-decoration: none;
}

.m-b-0 {
    margin-bottom: 0!important;
}

#page-wrapper{
	background: rgb(247, 247, 247);
	float: right;
}

.breadcrumb {
	padding: 8px 0px 8px 30px !important;
	border-radius: 0px !important;
    background-color: white;
    margin-left: -15px !important;
}

.hh{ font-family: Rubik-Medium;}
.hhh{ font-family: Rubik-Regular;}
.tel { margin-left: 10px; }
#block2 { margin-left: 60px;}
#ft { 
	text-align: center;
    font-size: 13px;
}
#ft p { margin-bottom: 4px !important; }

.navbar-brand{
	left: 0;
    position: absolute;
    font-family: Rubik-Medium;
    margin-left: 15px !important;
    font-size: 29px;
}

.snn { display: flex;}
.snn h1 {     width: 88%;}
.snn .btn {     margin-top: 30px;}

.navbar-top-links>li>a:hover {
    background: rgba(0,0,0,.1);
}

.pull-right > li > a {
	color: white !important;
}

.pull-right {
	margin-right: -80px !important;
    margin-top: 10px;
}

.label-as-badge {
    border-radius: 1em;
}
